* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body,
body button {
  font-family: 'Montserrat', serif;
}

ul,
li {
  display: block;
  padding: 0;
  margin: 0;
}

input {
  &:focus {
    outline: none;
  }
}
