@use 'sass:list';

// Option: enable a single variable font resource (if you have a variable font file).
// Set this to `true` and provide valid paths to use one combined resource instead
// of many per-weight files. Default is `false` to keep backwards-compatible per-weight woff2 faces.
$use-variable-font: false !default;
$variable-font-path: 'assets/fonts/Montserrat/Montserrat-Variable.woff2' !default;
$variable-font-italic-path: 'assets/fonts/Montserrat/Montserrat-VariableItalic.woff2' !default;

$fonts: (
  ('Thin', 100),
  ('ThinItalic', 100, italic),
  ('ExtraLight', 200),
  ('ExtraLightItalic', 200, italic),
  ('Light', 300),
  ('LightItalic', 300, italic),
  ('Regular', 400),
  ('Italic', 400, italic),
  ('Medium', 500),
  ('MediumItalic', 500, italic),
  ('SemiBold', 600),
  ('SemiBoldItalic', 600, italic),
  ('Bold', 700),
  ('BoldItalic', 700, italic),
  ('ExtraBold', 800),
  ('ExtraBoldItalic', 800, italic),
  ('Black', 900),
  ('BlackItalic', 900, italic)
);

@mixin font-face($name, $weight, $style: normal) {
  @font-face {
    font-family: 'Montserrat';
    src: url('assets/fonts/Montserrat/Montserrat-#{$name}.woff2')
      format('woff2');
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
  }
}

// If a variable font is available and enabled, register it as a single resource.
@if $use-variable-font {
  @font-face {
    font-family: 'Montserrat';
    src: url(#{$variable-font-path}) format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Montserrat';
    src: url(#{$variable-font-italic-path}) format('woff2');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
  }
} @else {
  @each $font in $fonts {
    $name: list.nth($font, 1);
    $weight: list.nth($font, 2);
    $style: normal;

    @if list.length($font) >2 {
      $style: list.nth($font, 3);
    }

    @include font-face($name, $weight, $style);
  }
}
