@use './global/reset.css';
@use './global/simple-adaptive-grid.css';
@use './global/_colors.scss';
@use './global/element.scss';
@use './global/fonts.scss';

:root {
  --gradient-purple-to-pink: linear-gradient(
    25.88deg,
    rgb(162, 52, 158),
    rgb(231, 36, 106)
  );
  --color-secondary: #8f9499;
  --color-border: #e7e7e7;
  --color-blue: #3dabef;
  --color-gray: #fafafa;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border: 0px solid var(--color-secondary);
  box-sizing: border-box;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-blue);
  border-radius: 5px;
}

a {
  text-decoration: none;
}
